<h2>Add New Employee</h2>
<form action="/add-employee" method="POST">
    <label for="employee_id">Employee ID:</label>
    <input type="text" id="employee_id" name="employee_id" required><br>

    <label for="employee_first_name">First Name:</label>
    <input type="text" id="employee_first_name" name="employee_first_name" required><br>

    <label for="employee_last_name">Last Name:</label>
    <input type="text" id="employee_last_name" name="employee_last_name"><br>

    <label for="contact_info">Contact Info:</label>
    <input type="text" id="contact_info" name="contact_info"><br>

    <label for="employee_role_id">Role ID:</label>
    <input type="text" id="employee_role_id" name="employee_role_id"><br>

    <label for="employee_salary">Salary:</label>
    <input type="text" id="employee_salary" name="employee_salary"><br>

    <button type="submit">Add Employee</button>
</form>
