<a href="/manage-order-status">
    <img class="back" src="/back-button.png" alt="back">
</a>
    <link rel="stylesheet" href="/styles.css">
<body>
    <div class="form-container">
        <h2>Add New Order Status</h2>
        <form action="/add-order-status" method="POST">
            <label for="order_status_id">Status ID:</label>
            <input type="text" id="order_status_id" name="order_status_id" required>

            <label for="order_status_name">Status Name:</label>
            <input type="text" id="order_status_name" name="order_status_name" required>

            <button type="submit">Add Status</button>
        </form>
    </div>
</body>
</html>
