<a href="/employees">
    <img class="back" src="/back-button.png" alt="back">
</a>
<h2>Add New Employee</h2>
<link rel="stylesheet" href="/styles.css"> 
<div class="form-container">
    <form action="/add-employee" method="POST">
    
        <div class="form-group">
            <label for="employee_first_name">First Name:</label>
            <input type="text" id="employee_first_name" name="employee_first_name" required>
        </div>

        <div class="form-group">
            <label for="employee_last_name">Last Name:</label>
            <input type="text" id="employee_last_name" name="employee_last_name">
        </div>

        <div class="form-group">
            <label for="contact_info">Contact Info:</label>
            <input type="text" id="contact_info" name="contact_info">
        </div>

        <div class="form-group">
            <label for="employee_role_id">Role:</label>
            <select id="employee_role_id" name="employee_role_id" required>
                <option value="">Select Role</option>
                <% roles.forEach(function(role) { %>
                    <option value="<%= role.employee_role_id %>">
                        <%= role.role_name %>
                    </option>
                <% }) %>
            </select>
        </div>

        <div class="form-group">
            <label for="employee_salary">Salary:</label>
            <input type="text" id="employee_salary" name="employee_salary" required>
        </div>

        <div class="form-group">
            <button type="submit" class="btn">Add Employee</button>
        </div>
    </form>
</div>

<link rel="stylesheet" href="/styles.css"> <!-- Link to your CSS file -->
