<body>
    <a href="/manage-shipment-status">
        <img class="back" src="/back-button.png" alt="back">
    </a>
    <h2>Add New Shipment Status</h2>
    <div class = "container">
        <form action="/add-shipment-status" method="POST">
            <label for="shipment_status_name">Shipment Status Name:</label>
            <input type="text" id="shipment_status_name" name="shipment_status_name" required>
            <button type="submit">Add Status</button>
        </form>
    </div>
    
    
</body>