<a href="/manage-warehouse-types">
    <img class="back" src="/back-button.png" alt="back">
</a>
    <link rel="stylesheet" href="/styles.css"> <!-- Link to the external CSS -->

<body>
    <div class="form-container"> <!-- Wrapping the form in a container -->
        <h2>Add New Warehouse Type</h2>
        <form action="/add-warehouse-type" method="POST">

            <div class="form-group">
                <label for="warehouse_type_name">Type Name:</label>
                <input type="text" id="warehouse_type_name" name="warehouse_type_name" required>
            </div>

            <div class="form-group">
                <button type="submit">Add Type</button>
            </div>
        </form>
    </div>
</body>
</html>
