<link rel="stylesheet" href="/styles.css">
<body>
    <h2>Add New Parcel Category</h2>
    <form action="/add-parcel-category" method="POST">
        <label for="parcel_category_id">Category ID:</label>
        <input type="text" id="parcel_category_id" name="parcel_category_id" required>
        
        <label for="parcel_category_name">Category Name:</label>
        <input type="text" id="parcel_category_name" name="parcel_category_name" required>
        
        <button type="submit">Add Parcel Category</button>
    </form>
    
</body>
