<link rel="stylesheet" href="/styles.css">
<body>
    <h2>Add New Warehouse Type</h2>
    <form action="/add-warehouse-type" method="POST">
        <label for="warehouse_type_id">Type ID:</label>
        <input type="text" id="warehouse_type_id" name="warehouse_type_id" required><br>

        <label for="warehouse_type_name">Type Name:</label>
        <input type="text" id="warehouse_type_name" name="warehouse_type_name" required><br>

        <button type="submit">Add Type</button>
    </form>
</body>
</html>
