<link rel="stylesheet" href="/styles.css"> <!-- Link to your CSS file -->
<a href="/product">
    <img class="back" src="/back-button.png" alt="back">
</a>
<div class="container">
    
    <body>
        
        <h2>Assign <%= product.product_id %></h2>
        
        <% if (message) { %>
            <div>
                <strong><%= message %></strong>
            </div>
        <% } %>
    
        <form action="/assign-product/<%= product.product_id %>" method="POST">

            
            <label for="warehouse_id">Warehouse ID:</label>
            <input type="text" id="warehouse_id" name="warehouse_id" required>
            
            <label for="section">Section:</label>
            <input type="text" id="section" name="section" required>
            
            <label for="aisle">Aisle:</label>
            <input type="text" id="aisle" name="aisle" required>
            
            <label for="rack">Rack:</label>
            <input type="text" id="rack" name="rack" required>
            
            <label for="shelf">Shelf:</label>
            <input type="text" id="shelf" name="shelf" required>
            
            <label for="bin">Bin:</label>
            <input type="text" id="bin" name="bin" required>
            
            <label for="quantity">Quantity:</label>
            <input type="text" id="quantity" name="quantity" required>
            
            <button type="submit">Assign Product</button>
        </form>
        
    </body>
    
</div>

