<a href="/customers">
    <img class="back" src="/back-button.png" alt="back">
</a>
<body>
    <h1>Customer Archives</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Archive Message</th>
                <th>Date Archived</th>
            </tr>
        </thead>
        <tbody>
            <% customerArchives.forEach(archive => { %>
                <tr>
                    <td><%= archive.id %></td>
                    <td><%= archive.message %></td>
                    <td><%= archive.date_archived %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
