<body>
    <a href="/orders" class="btn ">
        <img class="back" src="/back-button.png" alt="back" class="back-button"> 
    </a>
    
    <div class="form-container">
        <h2 class="text-white">Update Order Status</h2>

        <div class="home-container">
            <main>
                <form method="POST" action="/edit-order-status/<%= order.order_id %>" class="update-order-status-form my-4 p-3 border rounded">
                    <input type="hidden" name="order_id" value="<%= order.order_id %>">
                    <div class="form-group">
                        <label for="new_order_status_id" class="text-white">Select New Status:</label>
                        <select name="new_order_status_id" id="new_order_status_id" required class="form-control">
                            <option value="" disabled selected>Select a new status</option>
                            <!-- Manually add the three options -->
                            <option value="OST0000001">pending</option>
                            <option value="OST0000002">picked</option>
                            <option value="OST0000003">packed</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-info">Update Status</button>
                </form>
            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
