<!-- views/edit-product-prompt.ejs -->
<a href="/product">
    <img class="back" src="/back-button.png" alt="back">
</a>

<h2>Update Product</h2>

<div class="container">
    <div class="grid-container">
        <!-- Options to choose what to update -->
        <a href="/edit-product/<%= product.product_id %>">Edit Product Information</a>
        <a href="/update-product-location/<%= product.product_id %>">Update Product Location</a>
        <a href="/update-product-stock-quantity/<%= product.product_id %>">Update Product Stock Quantity</a>
    </div>
</div>
