<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouses</title>
</head>
<body>
    <h1>List of Warehouses</h1>
    <ul>
        <% warehouses.forEach(warehouse => { %>
            <li>
              <strong>ID:</strong> <%= warehouse.warehouse_id %><br>
              <strong>Address:</strong> <%= warehouse.warehouse_address %><br>
              <strong>Capacity:</strong> <%= warehouse.capacity %><br>
              <strong>Type:</strong> <%= warehouse.warehouse_type %><br><br>
            </li>
        <% }) %>
    </ul>
</body>
</html>
