<a href="/">
    <img class="home" src="/home-button.png" alt="home">
</a>
<h2>Inventories</h2>
<div class="button-container">
    <a href="/parcel" class="order-btn">Manage Parcel</a>
    <a href="/product" class="order-btn">Manage Product</a>
</div>

