<a href="/orders">
    <img class="back" src="/back-button.png" alt="back">
</a>

<div class="home-container"><h2>Manage Orders</h2>
    <link rel="stylesheet" href="/styles.css"> <!-- Link to your CSS file -->
    
    <div class="button-container">
        <a href="/postal-orders" class="order-btn">Manage Postal Orders</a>
        <a href="/product-orders" class="order-btn">Manage Product Orders</a>
    </div>
</divc>