<link rel="stylesheet" href="/styles.css">
<body>
    <header>
        <h1>Manage Status and Category</h1>
        <nav>
            <ul>
                <li><a href="/manage-order-status">Manage Order Status</a></li>
                <li><a href="/manage-return-status">Manage Return Status</a></li>
                <li><a href="/manage-warehouse-types">Manage Warehouse Types</a></li>
                <li><a href="/manage-product-categories">Manage Product Categories</a></li>
                <li><a href="/manage-parcel-categories">Manage Parcel Categories</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>
