<a href="/orders">
    <img class="back" src="/back-button.png" alt="back">
</a>
    <link rel="stylesheet" href="/styles.css">

    <h2>Manage Status And Category</h2>

<div class="home-container">
    <body>
    <main>
        <div class="grid-container">
            <a href="/manage-order-status">Manage Order Status</a>
            <a href="/manage-return-status">Manage Return Status</a>
            <a href="/manage-warehouse-types">Manage Warehouse Types</a>
            <a href="/manage-product-categories">Manage Product Categories</a>
            <a href="/manage-parcel-categories">Manage Parcel Categories</a>
        </div>
    </main>

</body>
</div>