
<body>
    <h1>Manage Shipment Statuses</h1>

    <!-- Back Button -->
    <a href="/manage-status-and-category">
        <img class="back" src="/back-button.png" alt="back">
    </a>

    <!-- Display Existing Shipment Statuses -->
    <h2>Current Shipment Statuses</h2>
        <a href="/add-shipment-status" class="btn">Add New Shipment Status</a>

        <div class="container">

            <table>
                <thead>
                    <tr>
                        <th>Status ID</th>
                        <th>Status Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% shipmentStatuses.forEach(function(status) { %>
                        <tr>
                            <td><%= status.shipment_status_id %></td>
                            <td><%= status.shipment_status_name %></td>
                            <td>
                                <form action="/shipment-status/remove/<%= status.shipment_status_id %>" method="POST">
                                    <button type="submit" onclick="return confirm('Are you sure you want to remove this status?')">Remove</button>
                                </form>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
            
             </div>
       
    
</body>