<a href="/manage-orders">
    <img class="back" src="/back-button.png" alt="back">
</a>
<link rel="stylesheet" href="/styles.css">
<h2>Manage Postal Orders</h2>
<a href="/add-postal-order" class="btn">Add New Postal Order</a>
<table class="responsive-table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Parcel ID</th>
            <th>Total Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% if (postalOrders && postalOrders.length > 0) { %>
            <% postalOrders.forEach(order => { %>
                <tr>
                    <td><%= order.order_id %></td>
                    <td><%= order.parcel_id %></td>
                    <td><%= order.total_price %></td>
                    <td>
                        <a href="/update-postal-order/<%= order.postal_order_id %>"><button>Update</button></a> 
                    
                    </td>
                </tr>
            <% }); %>
        <% } else { %>
            <tr>
                <td colspan="5">No postal orders available.</td>
            </tr>
        <% } %>
    </tbody>
</table>
