<a href="/orders">
    <img class="back" src="/back-button.png" alt="back">
</a>
    <link rel="stylesheet" href="/styles.css">

    <h2 class="text-title">Manage Status And Category</h2>

<div class="home-container">
    <body>
    <main>
        <div class="grid-container">
            <a href="/manage-order-status" class="btn btn-primary btn-lg">Manage Order Status</a>
            <a href="/manage-return-status"class="btn btn-primary btn-lg">Manage Return Status</a>
            <a href="/manage-warehouse-types"class="btn btn-primary btn-lg">Manage Warehouse Types</a>
            <a href="/manage-product-categories"class="btn btn-primary btn-lg">Manage Product Categories</a>
            <a href="/manage-parcel-categories"class="btn btn-primary btn-lg">Manage Parcel Categories</a>
            <a href="/manage-shipment-status"class="btn btn-primary btn-lg">Manage Shipment Status</a>
        </div>
    </main>

</body>
</div>