<a href="/orders">
    <img class="back" src="/back-button.png" alt="back">
</a>

<h2 class="text-title">Manage Orders</h2>
<div class="container">
    <div class="grid-container">

            <a href="/postal-orders" class="btn btn-warning btn-lg">Manage Postal Orders</a>
            <a href="/product-orders" class="btn btn-warning btn-lg">Manage Product Orders</a>
    </div>
</div>