<a href="/employees">
    <img class="back" src="/back-button.png" alt="back">
</a>
<link rel="stylesheet" href="/styles.css"> <!-- Link to your CSS file -->
<body>
    <main>
        <h2 class="text-title">Job Roles List</h2>
        <div class="button-group">
            <a href="/add-job-role" class="btn btn-warning">Add New Job Role</a>
        </div>

        <% if (jobRoles && jobRoles.length > 0) { %>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Role ID</th>
                        <th>Role Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% jobRoles.forEach(role => { %>
                    <tr>
                        <td><%= role.employee_role_id %></td>
                        <td><%= role.role_name %></td>
                        <td>
                            <a href="/update-job-role/<%= role.employee_role_id %>" class="btn btn-info">Update</a>
                            <form action="/delete-job-role/<%= role.employee_role_id %>" method="POST" style="display:inline;">
                                <button type="submit" onclick="return confirm('Are you sure you want to remove this status?')" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p>No job roles found.</p>
        <% } %>
    </main>
</body>
</html>
