<!-- views/update-parcel-stock-quantity.ejs -->
<a href="/edit-parcel-prompt/<%= parcel.parcel_id %>">
    <img class="back" src="/back-button.png" alt="back">
</a>

<h2>Update Parcel Stock Quantity</h2>

<div class="container">
    <form action="/update-parcel-stock-quantity/<%= parcel.parcel_id %>" method="POST">
        <label for="warehouse_id">Warehouse ID:</label>
        <input type="text" id="warehouse_id" name="warehouse_id" required>
        
        <label for="new_quantity">New Stock Quantity:</label>
        <input type="text" id="new_quantity" name="new_quantity" required>

        <button type="submit">Update Stock Quantity</button>
    </form>
</div>
