
<body>
    <a href="/manage-job-roles" class="btn">
        <img class="back" src="/back-button.png" alt="back"> 
    </a>
    
    <div class="form-container">
        <h2 class="text-white">Update Job Role</h2>
        <form action="/update-job-role/<%= jobRole.employee_role_id %>" method="POST" class="form-container">
            <div class="mb-3">
                <label for="employee_role_id" class="form-label text-white">Role ID:</label>
                <input type="text" id="employee_role_id" name="employee_role_id" value="<%= jobRole.employee_role_id %>" class="form-control" readonly required>
            </div>

            <div class="mb-3">
                <label for="role_name" class="form-label text-white">Role Name:</label>
                <input type="text" id="role_name" name="role_name" value="<%= jobRole.role_name %>" class="form-control" required>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Update Role</button>
                <a href="/manage-job-roles" class="btn btn-secondary">Cancel</a> <!-- Link to go back to the job roles management page -->
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
