<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Warehouse</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Link to your CSS file -->
</head>
<body>
    <a href="/warehouses">
        <img class="back" src="/back-button.png" alt="back">
    </a>
    <h2>Update Warehouse</h2>
    <p>Select an option to update:</p>
    <div>
        <a href="/update-warehouse-capacity/<%= warehouse_id %>" class="btn">Update Warehouse Capacity</a>
        <a href="/update-warehouse-location/<%= warehouse_id %>" class="btn">Update Warehouse Location</a>
    </div>
</body>
</html>
