<a href="/edit-parcel-prompt/<%= parcel.parcel_id %>">
    <img class="back" src="/back-button.png" alt="back">
</a>


<div class="form-container">
    <h2 class="text-white">Update Parcel Location</h2>
    <form action="/update-parcel-location/<%= parcel.parcel_id %>" method="POST">

        <!-- Warehouse ID -->
        <div class="mb-3">
            <label for="warehouse_id" class="form-label text-white">Warehouse ID:</label>
            <input type="text" id="warehouse_id" name="warehouse_id" class="form-control" required>
        </div>

        <!-- Section -->
        <div class="mb-3">
            <label for="section" class="form-label text-white">Section:</label>
            <input type="text" id="section" name="section" class="form-control" required>
        </div>

        <!-- Aisle -->
        <div class="mb-3">
            <label for="aisle" class="form-label text-white">Aisle:</label>
            <input type="text" id="aisle" name="aisle" class="form-control" required>
        </div>

        <!-- Rack -->
        <div class="mb-3">
            <label for="rack" class="form-label text-white">Rack:</label>
            <input type="text" id="rack" name="rack" class="form-control" required>
        </div>

        <!-- Shelf -->
        <div class="mb-3">
            <label for="shelf" class="form-label text-white">Shelf:</label>
            <input type="text" id="shelf" name="shelf" class="form-control" required>
        </div>

        <!-- Bin -->
        <div class="mb-3">
            <label for="bin" class="form-label text-white">Bin:</label>
            <input type="text" id="bin" name="bin" class="form-control" required>
        </div>

        <!-- Submit Button -->
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Update Parcel Location</button>
        </div>
    </form>
</div>
