<a href="/edit-product-option/<%= product.product_id %>">
    <img class="back" src="/back-button.png" alt="back">
</a>


<div class="form-container">
    <h2 class="text-white">Update Product Stock Quantity</h2>
    <form action="/update-product-stock-quantity/<%= product.product_id %>" method="POST">

        <!-- Warehouse ID -->
        <div class="mb-3">
            <label for="warehouse_id" class="form-label text-white">Warehouse ID:</label>
            <input type="text" id="warehouse_id" name="warehouse_id" class="form-control" required>
        </div>

        <!-- New Quantity -->
        <div class="mb-3">
            <label for="new_quantity" class="form-label text-white">New Quantity:</label>
            <input type="number" id="new_quantity" name="new_quantity" class="form-control" required>
        </div>

        <!-- Submit Button -->
        <div class="mb-3">
            <button type="submit" class="btn btn-info">Update Stock</button>
        </div>
    </form>
</div>
