
<body>
    <a href="/warehouses">
        <img class="back" src="/back-button.png" alt="back">
    </a>
    <div class="flexer">

        <h2>Update Warehouse</h2>
    </div>  

    <h2>Select an option to update:</h2>
    <div class="grid-container">
        <a href="/update-warehouse-capacity/<%= warehouse_id %>" class="btn btn-warning">Update Warehouse Capacity</a>
        <a href="/update-warehouse-location/<%= warehouse_id %>" class="btn btn-warning">Update Warehouse Location</a>
    </div>
</body>
</html>
