
<body>

    <a href="/manage-return-status" class="btn">
        <img class="back" src="/back-button.png" alt="back" class="back-button"> 
    </a>

    <div class="form-container ">
        <h2 class="text-white">Update Return Status</h2>
        
        <form action="/update-return-status/<%= returnStatus.return_status_id %>" method="POST" class="mt-3 p-4 border rounded ">
            <div class="form-group">
                <label for="return_status_id">Status ID:</label>
                <input type="text" id="return_status_id" name="return_status_id" class="form-control" value="<%= returnStatus.return_status_id %>" readonly>
            </div>

            <div class="form-group">
                <label for="return_status_name">Status Name:</label>
                <input type="text" id="return_status_name" name="return_status_name" class="form-control" value="<%= returnStatus.return_status_name %>" required>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Update Status</button>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
