<h2>Choose Inventory to Manage</h2>
<link rel="stylesheet" href="/styles.css"> <!-- Link to your CSS file -->

<div>
    <a href="/parcel" class="btn">Manage Parcel Inventory</a>
    <a href="/product" class="btn">Manage Product Inventory</a>
</div>
