<h2>Orders</h2>
<link rel="stylesheet" href="/styles.css">
<div class="button-container">
    <a href="/manage-orders" class="order-btn">Order Management</a>
    <a href="/manage-status-and-category" class="order-btn">Status and Category Management</a>
</div>


